<section class="hero">
  <div class="hero-bg"></div>
  <img src="images/background_guitar.jpg" alt="Electric Guitar" class="guitar-image">

  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle">Welcome to HarmonicMinor</p>
      <h1 class="hero-title">Discover Your Perfect Sound</h1>
      <p class="hero-description">
        Unlocking the Melodies:
        Your Gateway to Harmonious Sounds with HarmonicMinor.
      </p>
      <div class="hero-buttons">
        <a routerLink="/home" class="btn btn-primary btn-lg">Enter Store</a>
        <button class="btn btn-outline btn-lg">Sing In</button>
      </div>
    </div>
  </div>
</section>