/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    /* font-family: 'Poppins', sans-serif; 
    font-family: 'Roboto', sans-serif; */
    /* font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif; */
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}