header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 15px 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
    margin-right: 70px;
}

.header-centered {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFFAFA;
}

nav a {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #FFFAFA;
    font: inherit;
    cursor: pointer
}

a:hover {
    color: #00BFFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFAFA;
    font: inherit;
}

.dropbtn:hover {
    color: #00BFFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    border: 2px solid rgb(218, 211, 211);
    min-width: 300px;
    box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.4);
    z-index: 1;
    left: -80px;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content a {
    color: #FFFAFA;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #343434;
    color: #00BFFF;
}

.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content {
    display: block;
}

.header-search {
    position: relative;
    display: none;
}

@media (min-width: 1140px) {
    .header-search {
        display: block;
    }
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 55%;
    transform: translateY(-50%);
    color: #FFFAFA;
}

.search-input {
    width: 350px;
    padding: 10px 10px 10px 30px;
    background-color: #202020;
    border: 1px solid #4A5568;
    border-radius: 10px;
    color: #FFFAFA;
    font: inherit;
}

.search-input::placeholder {
    color: #999997;
}

.search-input:focus {
    outline: none;
    border-color: #00BFFF;
    box-shadow: 2px 7px 7px rgba(255, 255, 255, 0.2);
}

.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button svg {
    height: 25px;
    width: 25px;
    stroke: #FFFAFA;
}

.icon-button svg:hover {
    stroke: #00BFFF;
}

.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFAFA;
}

.mobile-menu-button svg {
    height: 30px;
    width: 30px;
    stroke: #FFFAFA;
}

.mobile-menu-button svg:hover {
    stroke: #00BFFF;
}

.mobile-menu {
    display: none; 
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); 
    background-color: #1c1c1ce0;
    color: #FFFAFA;
    z-index: 99;
    overflow-y: auto;
    padding: 20px;
}


.mobile-menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #FFFAFA;
    font-size: 1.2rem;
    border-bottom: 1px solid #333;
}

.mobile-menu a:hover {
    color: #00BFFF;
}

.mobile-search {
    margin-bottom: 20px;
    width: 90%;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1024px) {
    .mobile-menu-button {
        display: block; 
        margin-left: 1rem;
        margin-right: 3rem;
    }

    .header-centered {
        display: none; 
    }

    .logo {
        height: 40px;
        width: auto;
        margin-right: 40px;
    }

}