header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    height: 60px;
    width: auto;
    margin-left: 20px;
    margin-right: 70px;
}

.header-centered {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font: inherit;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.dropbtn:hover {
    background-color: darkgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #121212;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #343434;
}

/* Mostrar el contenido del dropdown cuando el botón o el dropdown esté enfocado */
.dropdown:focus-within .dropdown-content, .dropdown:hover .dropdown-content {
    display: block;
}

.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button svg {
    height: 20px;
    width: 20px;
    stroke: white;
}

.icon-button:hover {
    background-color: darkgray;
    border-radius: 10px;
}