<header [class.header-transparent]="router.url === '/' || router.url === '/signin' || router.url === '/signup'"
  class="header-default">
  <div class="header-logo">
    <button class="mobile-menu-button" aria-label="Toggle menu" (click)="toggleMobileMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <a routerLink="/home" class="logo-link">
      <img src="images/login_logo_2.png" alt="Logo" class="logo">
    </a>
  </div>
  <div class="header-centered">
    <nav>
      <div class="dropdown">
        <button class="dropbtn">Categories
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
          </svg>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/category', 'Guitars']">Guitars</a>
          <a [routerLink]="['/category', 'Basses']">Basses</a>
          <a [routerLink]="['/category', 'Pianos']">Pianos and keyboards</a>
          <a [routerLink]="['/category', 'Drums']">Drums and percussion</a>
          <a [routerLink]="['/category', 'Winds']">Wind instruments</a>
          <a [routerLink]="['/category', 'Djs']">DJ Equipment</a>
          <a [routerLink]="['/category', 'Microphones']">Microphones and accessories</a>
          <a [routerLink]="['/category', 'Softwares']">Software</a>
        </div>
      </div>
      <a routerLink="/community" routerLinkActive="active">Videos</a>
      <a routerLink="/about-us" routerLinkActive="active">About HarmonicMinor</a>
    </nav>
  </div>
  <div class="header-search">
    <span class="search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </span>
    <input type="search" class="search-input" placeholder="Search instruments...">
  </div>
  <div class="header-icons">
    <button class="icon-button" routerLink="/profile" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
    </button>
    <button class="icon-button" routerLink="/favourites" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path
          d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
        </path>
      </svg>
    </button>
    <button class="icon-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="9" cy="21" r="1"></circle>
        <circle cx="20" cy="21" r="1"></circle>
        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu" [style.display]="isMobileMenuOpen ? 'block' : 'none'">
  <div class="mobile-search">
    <div class="header-search" style="display: block;">
      <span class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </span>
      <input type="search" class="search-input" placeholder="Search instruments..." style="width: 100%;">
    </div>
  </div>
  <nav class="mobile-nav">
    <div>
      <h3 class="mobile-nav-link">Categories</h3>
      <div class="mobile-categories">
        <a [routerLink]="['/category', 'Guitars']">Guitars</a>
        <a [routerLink]="['/category', 'Basses']">Basses</a>
        <a [routerLink]="['/category', 'Pianos']">Pianos and keyboards</a>
        <a [routerLink]="['/category', 'Drums']">Drums and percussion</a>
        <a [routerLink]="['/category', 'Winds']">Wind instruments</a>
        <a [routerLink]="['/category', 'Djs']">DJ Equipment</a>
        <a [routerLink]="['/category', 'Microphones']">Microphones and accessories</a>
        <a [routerLink]="['/category', 'Softwares']">Software</a>
      </div>
    </div>
    <a routerLink="/community" routerLinkActive="active">Videos</a>
    <a routerLink="/about-us" routerLinkActive="active">About HarmonicMinor</a>
  </nav>
</div>